{
    "parser": "babel-eslint",
    
    "env": {
        "node": true,
        "browser": true
    },

    "rules": {
        // posible errors
        "no-cond-assign": "always",
        "no-console": 1,
        "no-debugger": 1,
        "no-reserved-keys": 2,

        // best practice
        "block-scoped-var": 2,
        "curly": [2, "multi-line"],
        "default-case": 2,
        "guard-for-in": 2,
        "no-alert": 1,
        "no-else-return": 2,
        "no-eq-null": 2,
        "no-floating-decimal": 2,
        "no-param-reassign": 2,
        "no-self-compare": 2,
        "no-throw-literal": 2,
        "no-void": 2,
        "radix": 2,
        "vars-on-top": 2,
        "wrap-iife": 2,

        // strict
        "strict": [2, "never"],

        // vars
        "no-catch-shadow": 2,
        "no-undefined": 2,

        // node
        "no-mixed-requires": [2, true],

        // style
        "indent": 2,
        "brace-style": [1, "1tbs", {"allowSingleLine": true}], // left as warning due to bug# 1739
        "comma-style": [2, "last"],
        "consistent-this": [2, "self"],
        "no-lonely-if": 2,
        "no-multiple-empty-lines": [2, {"max": 2}],
        "no-nested-ternary": 2,
        "no-underscore-dangle": 0,
        "quote-props": "as-needed",
        "quotes": [2, "single", "avoid-escape"],
        "space-after-keywords": "always",
        "space-after-blocks": "always",
        "space-after-function-paren": "never",
        "space-in-parens": [2, "never"],
        "func-style": [2, "expression"],
        "space-in-brackets": "never",
        "func-names": 2,

        // es6
        "no-var": 2,
        "generator-star-spacing": [2, "before"],

        // legacy
        "no-bitwise": 2
    }
}