@viewport { width: device-width; }

* {
    margin: 0;
    padding: 0;
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

::selection {
    // background-color:;
    // color:;
    // text-shadow:;
}

html {
    box-sizing: border-box;
}

body {
    font: 1.2em/1.25 $regular;
}

body,
input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    padding: 6em 1em 6em 1em;
    max-width: 960px;
    margin: 0 auto;
    background-color: gold;

    &:nth-child(odd) {
        background-color: purple;
    }

    h1 {
        padding-bottom: 1em;
    }
}

img {
    max-width:100%;
}

a {
    text-decoration: none;
}