extends templates/master

block body
    body.example1
        header
            h1 Example #1
            nav#pageNav.example1__nav
                p Menu
                ul
                    li
                        a(href='#section1') Section 1
                    li
                        a(href='#section2') Section 2
                    li
                        a(href='#section3') Section 3
                    li
                        a(href='#section4') Section 4
        main
            section#section1
                h1 Section 1
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac semper orci. Phasellus vehicula lacus in cursus porttitor. Maecenas pellentesque congue sollicitudin. Mauris tristique erat et dui sollicitudin, eget pharetra sem pellentesque. Donec euismod eros et lacinia varius. Duis vitae mauris sit amet nisl imperdiet rutrum accumsan quis est. Nam mattis hendrerit elit, a cursus odio hendrerit sed. Donec congue magna sed tincidunt imperdiet. Duis dictum nulla ut sem fermentum consectetur. Curabitur arcu diam, euismod ac ullamcorper a, placerat eget turpis.
            section#section2
                h1 Section 2
                p Pellentesque lobortis turpis et nisi fermentum tempus. Vestibulum eu consequat augue, a imperdiet diam. In vitae consectetur mi. Nulla at venenatis tortor, ac pellentesque neque. Cras vehicula leo diam, quis vestibulum mi facilisis pharetra. In hac habitasse platea dictumst. Nam tempor bibendum feugiat. Pellentesque tincidunt nec justo ac congue. Suspendisse rutrum ultrices odio. Integer euismod pulvinar dui vitae commodo. Aenean vehicula lobortis ex. Curabitur consectetur luctus tincidunt. Proin tristique mauris in dapibus porttitor. Mauris fermentum consequat mauris.
            section#section3
                h1 Section 3
                p Integer diam ipsum, consequat eget aliquet sodales, finibus vitae nunc. Phasellus luctus turpis nulla, sed sodales lorem dapibus id. Nulla posuere fringilla massa, eu imperdiet dolor interdum vel. Donec et mi quis justo faucibus eleifend. Fusce et sodales ligula. Suspendisse ac placerat orci. Quisque eget nisi eget libero tincidunt scelerisque. Nunc in posuere nibh. Aliquam feugiat ipsum nulla, id dignissim eros pretium quis. Nam condimentum metus ipsum, at rutrum ipsum venenatis quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus dui lorem, mollis ac nunc id, convallis sodales massa. Morbi feugiat lacinia augue, sit amet facilisis diam aliquet et. Vivamus pulvinar in neque eu porta. Donec in lorem quis dui iaculis tincidunt.
            section#section4
                h1 Section 4
                p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris faucibus eleifend massa, vel ornare lectus tempus vitae. Suspendisse fringilla lectus quis quam vulputate malesuada id in diam. Nullam et efficitur ipsum, a iaculis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed volutpat tellus eu erat gravida porttitor. Morbi sed nisl quis elit ultrices tincidunt. Donec nunc nibh, semper ac erat faucibus, ornare vehicula lectus. Aliquam non enim in nibh rhoncus imperdiet. Morbi pulvinar pellentesque turpis, ut tempus justo hendrerit a. Vivamus efficitur at mi nec cursus. Morbi in tincidunt nisi. Ut et enim pulvinar, bibendum turpis eu, tempor eros.